
.meet-section{
    background-color: #004047;
    padding-top: 140px;
    background-image: url(../../images/about-page/meet/meet-top-bg.svg);
    background-repeat: no-repeat;
    background-size: 200px 200px;
    background-position: top left;
}


.about__meet-title{
    width: 920px;
    margin-left: 90px;
    text-align: center;
}

.meet-title{
    color: #FFF;
    text-align: center;
    font-family: Livvic , sans-serif;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 100% */
}
.meet{
    display: flex;
    margin-top: 64px;
}
.meet-card{
    width: 350px;
    height: 281px;
    position: relative;
}
.card-bg{
    width: 100%;
    height: 253px;
    background-color: #012F34;
}
.card-img{
    margin: 32px 127px 16px;
}
.card-name{
    color: #79C8C7;
    text-align: center;
    font-family: Livvic , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.card-text{
    color: #FFF;
    text-align: center;
    font-family: Livvic , sans-serif    ;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
}
.card-link{
    width: 56px;
    height: 56px;
    background-color: #F67E7E;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 225px;
    left: 147px;
    right: 147px;
    transition: all 0.5s ease;
}
.card-link:hover{
    background-color: #79C8C7;
}
.card__plus-icon{
    margin: 20px;
}
.meet-card + .meet-card{
    margin-left: 30px;
}
.directors{
    display: flex;
    margin-top: 48px;
    padding-bottom: 140px;
}
.last-card-name{
    color: #79C8C7;
    text-align: center;
    padding: 35px 24px 8px;
    font-family: Livvic , sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px; /* 155.556% */
}
.last-card-text{
    color: #FFF;
    padding: 0px 48px;
    text-align: center;
    font-family: Livvic , sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 166.667% */
}
.card-social-img{
    margin: 24px 145px 35px;
}

.last-card-bg{
    width: 350px;
    height: 253px;
    background-color: #002529;
    position: relative;
}
.last-card-link{
    width: 56px;
    height: 56px;
    background-color:#79C8C7;
    display: inline-block;
    border-radius: 50%;
    position: absolute;
    top: 225px;
    left: 147px;
    right: 147px;
    transition: all 0.5s ease;
}
.last-card-link:hover{
    background-color: #F67E7E;
}
.last__card-icon{
    margin: 20px;
}
.zapas-meet{
    display: none;
}
.second-zapas-meet{
    display: none;
}
.last-zapas-meet{
    display: none;
}
@media (max-width:1007px){
    .about__meet-title{
        margin-left: 0px;
    }
    .meet{
        display: none;
    }
    .directors{
        display: none;
    }
    .meet-card{
        width: 281px;
        height: 281px;
    }
    .alley-card{
        margin-left: 11px;
        margin-top: 35px;
        width: 281px;
        height: 281px;
        position: relative;
    }
    .alley-link{
        width: 56px;
        height: 56px;
        display: inline-block;
        background-color: #F67E7E;
        border-radius: 50%;
        position: absolute;
        top: 225px;
        left: 112px;
        right: 112px;
        transition: all 0.5s ease;
    }
    .alley-link:hover{
        background-color: #79C8C7;
    }
    .card-img{
        margin: 32px 92px 16px;
    }
    .card-link{
        top: 225px;
        left: 112px;
        right: 112px;
    }
    .last-card-bg{
        width: 281px;
    }
    .last-card-name{
        margin: 35px 24px 0px;
    }
    .last-card-text{
        color: #FFF;
        text-align: center;
        padding: 0px 24px;
        font-family: Livvic , sans-serif;
        font-size: 15px;
        font-style: normal;
        font-weight: 600;
        line-height: 25px; /* 166.667% */
    }
    .card-social-img{
        margin: 24px 110px 35px;
    }
    .last-card-link{
        top: 225px;
        left: 112px;
        right: 112px;
    }
    .meet-card + .meet-card{
        margin-left: 11px;
    }
    .zapas-meet{
        margin-left: 97px;
        margin-top: 48px;
        display: flex;
    }
    .second-zapas-meet{
        display: flex;
        margin-left: 97px;
        margin-top: 48px;
    }
    .last-zapas-meet{
        display: flex;
        margin-left: 97px;
        padding-bottom: 100px;
    }
    
}
@media (max-width:800px){
    .about__meet-title{
        width: 327px;
        margin-left: 100px;
    }
    .meet-title{
        color: #FFF;
        text-align: center;
        font-family: Livvic , sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 100% */
    }
    .meet-card + .meet-card{
        margin-top: 24px;
        margin-left: 0;
    }
    .zapas-meet{
        flex-direction: column;
    }
    .second-zapas-meet{
        flex-direction: column;
    }
    .last-zapas-meet{flex-direction: column;}
    .alley-card{
        margin-top:24px;
        margin-left: 0;
    }
}
